.row
  .small-12.columns
    %h1 Your profile
    %hr
    .row
      .small-6.columns
        %h3 about:
        = @user.bio
      .small-6.columns
        %h3= pluralize_array("Address", @user.addresses)
        - @user.addresses.each do |address|
          %ul.vcard
            %li= address.address_1
            %li= address.address_2
            %li
              %span= address.city + ","
              %span= address.state + "  "
              %span= address.zip
            %li= address.public_phone
        = link_to "railsy", "#",  "data-reveal-id" => "newAddress"
        #newAddress.reveal-modal.small{"data-reveal" => ""}
          = render partial: 'addresses/form', locals: { addressable: @user }
          %a.close-reveal-modal ×
      


/     .center
/       Account
/   %dl.dl-horizontal
/     %dd= link_to "change email", edit_user_registration_path
/     %dd= link_to "change password", edit_user_registration_path  
/   %legend
/     .center
/       Privacy settings
/ / .row
/ /   .form-horizontal
/ /     = simple_form_for(@user, url: profile_path(@user), method: "put") do |f|
/ /       .span5
/ /         = f.error_notification
/ /         = display_base_errors resource
/ /         = f.input :name
/ /         = f.input :bio
/ /       .span6
/ /         .row
/ /         %legend
/ /         .row
/ /           .span
/ /             .pull-right Role:
/ /           .span2
/ /             = @user.roles.first.name
/ /           %br
/ /           = button_to "edit email or password", edit_user_registration_path
/ /         %legend
/ /           Privacy
/ /         = f.simple_fields_for :settings do |fs|
/ /           %legendd
/ /             Email
/ /             = fs.input :share_email, as: :boolean
/ /         = f.button :submit, :class => 'btn-primary'
/ /         %h3 Cancel my account
/ /         %p
/ /           Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
/ /         = link_to "Back", :back
/ / 