.row
  .span12
    .row
      %h2
        = @user.name + "'s profile"
    .row
      .form-horizontal
        = simple_form_for(@user, url: profile_path(@user), method: "put") do |f|
          .span5
            = f.error_notification
            = display_base_errors resource
            = f.input :name
            = f.input :bio
          .span6
            .row
            %legend
              Account
            .row
              .span3
                .pull-right
                  #{@user.email}:
              .span3
                .pull-left
                = link_to "change email", edit_user_registration_path
                %br
                = link_to "change password", edit_user_registration_path  
            .row
              .span3
                .pull-right Role:
              .span2
                .pull-left
                  = @user.roles.first.name
            %legend
              Privacy
            = f.simple_fields_for :settings do |fs|
              %legendd
                Email
                = fs.input :share_email, as: :boolean
            = f.button :submit, :class => 'btn-primary'
            %h3 Cancel my account
            %p
              Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
            = link_to "Back", :back
