%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical', id: 'registration-form' }) do |f|
  = f.error_notification
  = display_base_errors resource
  #signupemail= f.input :email, :required => true
  - if f.object.password_required?
    .field
      = f.label :password
      %br/
      = f.password_field :password
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation

  = f.button :submit, 'Sign up', :class => 'btn-primary', :id => 'getsome'
= render "devise/shared/links"
