%p#notice= notice

%p
  %b Carousable type:
  = @carousel.carousable_type
%p
  %b Carousable:
  = @carousel.carousable_id
%p
  %b Image:
  = @carousel.image_id

= link_to 'Edit', edit_carousel_path(@carousel)
\|
= link_to 'Back', carousels_path
