.row
	.span12
		%h1 Bloochers
		%table 
			%tr
				%th Name
				%th Bio
				%th reviews
				%th Wines made
				%th Wineries owned
			- @users.each do |user|
				%tr
					%td= link_to user.name, user_path(user.id)
					%td= user.bio
					%td= user.reviews.count
					%td= user.winemaker_oeuvres.count
					%td= user.ownerships.count

		.pagination= paginate @users
