%h1 Listing vineyards

%table
  %tr
    %th Vineyard
    %th Appellation
    %th
    %th
    %th

  - @vineyards.each do |vineyard|
    %tr
      %td= link_to vineyard.name, vineyard_path(vineyard.id)
      %td= vineyard.appellation
      %td= link_to 'Show', vineyard
      %td= link_to 'Edit', edit_vineyard_path(vineyard)
      %td= link_to 'Destroy', vineyard, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Vineyard', new_vineyard_path
