%p#notice= notice

%h3= @vineyard.name
%p
  %b Producer:
  = @vineyard.producer.name
%p
  %h4 Appellation:
  = @vineyard.appellation
%p
  %h4 Topography:
%dl.dl-horizontal
  %dt Aspect:
  %dd= @vineyard.topo_aspect
  %dt Slope: 
  %dd= @vineyard.topo_slope
  %dt Elevation: 
  %dd= @vineyard.topo_elevation
%p
  %h4 Soil:
%dl.dl-horizontal
  %dt composition
  %dd= @vineyard.soil_composition
  %dt drainage
  %dd= @vineyard.soil_drainage
  %dt depth
  %dd "#{@vineyard.soil_depth} cm"
  %dt fertility
  %dd "#{@vineyard.soil_fertility.to_f}"

%p
  %b Climate:
  = @vineyard.climate

= link_to 'Edit', edit_vineyard_path(@vineyard)
\|
= link_to 'Back', vineyards_path
