%p#notice= notice

%p
  %b Producer:
  = @vineyard.producer_id
%p
  %b Appellation:
  = @vineyard.appellation
%p
  %b Topography:
  %p aspect: #{@vineyard.topo_aspect}
  %p slope: #{@vineyard.topo_slope}
  %p elevation: #{@vineyard.topo_elevation}
%p
  %b Soil composition:
  = @vineyard.soil_composition
%p
  %b Climate:
  = @vineyard.climate

= link_to 'Edit', edit_vineyard_path(@vineyard)
\|
= link_to 'Back', vineyards_path
