.row
  .large-12.columns
    .text-center
      %h1.categories.uppercase.subheader
        Bloocher
      / %br
      / %h5.categories Be a bahler
    %hr
    .row
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Winelovers & bloochers
        .oldstandardtt
          %p Don't be a <span data-tooltip class="has-tip" title="a person who is ignorant or behind the times.">back dated chuck</span>.  Learn about <span data-tooltip class="has-tip" title="wine: Mr. Frati was a local vineyardist.">fratis</span> and the fruit that goes into them.  <span data-tooltip="right" class="has-tip" title="to prattle on, to talk aimlessly.">Blooch</span> about one or two or twenty of them, even give them a rating if you're a <span data-tooltip class="has-tip" data-width="210" title="a story teller: Allen Cooper, an innkeeper, who was a bear hunter and a story teller.">bearman</span>.  
        = image_tag("glass_and_cork.jpg", height: '100')
        %br
        %br
        %center
          = link_to "Read more", wineries_path, html_options = { class: "button"}
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Vineyardists & Winemakers
        = image_tag("slide-1.jpg")
        %br
        %br
        .oldstandardtt
          %p <span data-tooltip class="has-tip" title="to notice or call attention to.">Deek</span> what other farmers have been doing in their vineyards, see what the <span data-tooltip class="has-tip" data-width="210" title="a person of wealth: the wealthiest man in the area was six feet six inches tall.">high pockety</span> folk are saying about <span data-tooltip class="has-tip" title="wine: Mr. Frati was a local vineyardist.">fratis</span> made with your fruit, maybe even find a few who are <span data-tooltip class="has-tip" data-width="210" title="somersetting - being over-emotional or sentimental; head-over-heels. (From turned somerset.)")"">somersetting</span>. Give the wine lovers and bloochers all the <span data-tooltip class="has-tip" title="bahl - good, great">bahlinest</span> info about where you source your fruit, which yeast you used, how long you left it in tanks, whatever <span data-tooltip class="has-tip" data-width="210" title="bowgley - a 'whopper' of a lie">bowgleys</span> you like.  
        %center
          = link_to "Read more", vineyards_path, html_options = { class: "button"}
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Purveyors & Tastemakers
        .oldstandardtt
          %p Running a tasting room and need to be able to showcase different wines?  Are you a somm with a frequently changing wine list?  Be a <span data-tooltip class="has-tip" data-width="210" title="a story teller: Allen Cooper, an innkeeper, who was a bear hunter and a story teller.">bearman</span>.
        = image_tag("slide-2.jpg")
        %br
        %br
        %center
          = link_to "Read more", wineries_path, html_options = { class: "button"}
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Everyone else
        = image_tag("slide-5.jpg")
        %br
        %br
        .oldstandardtt
          %p <span data-tooltip class="has-tip" data-width="210" title="oshtook - a person with one eye (Pomo / Native American word).">Oshtooks</span>, <span data-tooltip class="has-tip" title="straight neck - a person of German descent.">straight necks</span>, <span data-tooltip class="has-tip" data-width="210" title="Madge - a prostitute: Madge was a brothel madame in Ukiah.">madges</span>, <span data-tooltip class="has-tip" data-width="210" title="mink - an expensively dressed girl or woman; a wearer of fur.">minks</span>, <span data-tooltip class="has-tip" data-width="210" title="applehead - a young girl; girlfriend or wife.">appleheads</span>, <span data-tooltip class="has-tip" data-width="210" title="Abaloneyite or Abber - a resident of Albion on the seacoast where abalone abounded.">abaloneyites</span>, <span data-tooltip class="has-tip" data-width="210" title="keishbook - an Indian word, meaning a pregnant woman.">keishbooks</span>, <span data-tooltip class="has-tip" title="skype - a preacher. (From &quot; Sky Pilot.&quot;)")"> skypes</span>, <span data-tooltip class="has-tip" data-width="210" title="Ite - an Italian">Ites</span> and <span data-tooltip class="has-tip" data-width="210" title="shoveltooth - a medical doctor (after a local doctor who had protruding front teeth).">shoveltooths</span>, but no <span data-tooltip class="has-tip" title="a degenerate person">deegers</span>, <span data-tooltip class="has-tip" title="a child; a teen-ager.">tweeds</span>, or <span data-tooltip class="has-tip" title="a small child; an infant">weese</span>.  
        %center
          = button_to "Read more", about_path, html_options = { class: "button"}

