.row
  .small-12.columns
    .text-center
      %h1.categories.subheader
        Be a bahler

    %hr
    .row
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Winemakers & cellar rats
        .oldstandardtt

          %p Tell big fat <span data-tooltip class="has-tip" data-width="210" title="bowgley - a 'whopper' of a lie">bowgleys</span> about your <span data-tooltip class="has-tip" title="wine: Mr. Frati was a local vineyardist.">fratis</span> to the <span data-tooltip class="has-tip" title="straight neck - a person of German descent.">straight necks</span> and the <span data-tooltip class="has-tip" data-width="210" title="Madge - a prostitute: Madge was a brothel madame in Ukiah.">madges</span>, the <span data-tooltip class="has-tip" data-width="210" title="shoveltooth - a medical doctor (after a local doctor who had protruding front teeth).">shoveltooths</span>, and the <span data-tooltip class="has-tip" data-width="210" title="mink - an expensively dressed girl or woman; a wearer of fur.">minks</span> with the shiny <span data-tooltip class="has-tip" data-width="210" title="trilbies - shoes, probably dress shoes.">trilbies</span>.  <span data-tooltip class="has-tip" title="to notice or call attention to.">Deek</span> from which vineyards you sourced, what your fermentation process looked like, which yeasties you used.  Let the <span data-tooltip class="has-tip" data-width="210" title="Brightlighter - An outsider. Anyone not from Boonville.">brightlighters</span> down south of <span data-tooltip class="has-tip" data-width="210" title="Cloverdal - Cloverdale: the nearest town to the south.">Cloverdal</span> find them on the google and bing machines, and then sit back and let the <span data-tooltip class="has-tip" data-width="210" title="forbes - a half dollar: four bits.">forbes</span> roll in.

        .show-for-medium-up
          = image_tag("slide-2.jpg")
        %br
        %br
        %center
          .categories= link_to "Deek a Winery", new_winery_path, html_options = { class: "button round"}
        .show-for-small
          %hr
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Vineyardists
        .show-for-medium-up
          = image_tag("slide-1.jpg")
        %br
        %br

        .oldstandardtt
          %p <span data-tooltip class="has-tip" title="to notice or call attention to.">Deek</span> some of the better <span data-tooltip class="has-tip" title="wine: Mr. Frati was a local vineyardist.">fratis</span> made from your fruit. Sketch a map of your terroir showing which varietals and clones and <span data-tooltip class="has-tip" data-width="210" title="Most current day grape rootstocks were taken from the native wild mustang grapes that grow across Texas. This rootstock also saved France's grape industry in the early 1900s when phylloxera decimated the wine and vineyards of Europe.">rootstocks</span> live in which <span data-tooltip class="has-tip" data-width="210" title="block -- vineyards are commonly divided into blocks in the same way farms are divided into fields">blocks</span>. Record weather & water &  <span data-tooltip class="has-tip" data-width="210" title="GDD are a measure of heat accumulation used by horticulturists, gardeners, and farmers to predict plant and animal development rates such as the date that a flower will bloom, a crop reach maturity or a turkey will be mature enough to be butchered.">growing degree days</span> for your vintages, and share farming techniques so you aren't always <span data-tooltip class="has-tip" data-width="210" title="killing snake - to work very hard at something: One would say &quot;He's tackling that job as if he were killing snake.&quot;">killing snake</span>.  Show off your cohabitant species like eagles and <span data-tooltip class="has-tip" title="bootjack - a coyote. (From the v-shape of their ears, resembling a bootjack.)">wilks</span>, <span data-tooltip class="has-tip" title="wilk - a wild cat.">bootjacks</span>, condors, <span data-tooltip class="has-tip" data-width="210" title="croppies - a sheep.">croppies</span>, <span data-tooltip class="has-tip" data-width="210" title=" seertail or sirtle - a salmon.">sirtles</span> and redwood trees.  Put up a <span data-tooltip class="has-tip" title="beemsch - good show: a blend of bahl (good) and show.">beemsch</span> of your vines or your <span data-tooltip class="has-tip" title="haireem - a dog. (From "hairy mouth", since Airedale Terriers were popular in Anderson Valley.)">haireems</span> or <span data-tooltip class="has-tip" title="a child; a teen-ager.">tweeds</span> or <span data-tooltip class="has-tip" title="a small child; an infant">weese</span>, or even of your <span data-tooltip class="has-tip" title="dulcey - a sweet: From the Spanish word dulce meaning sweet.">dulcey</span> <span data-tooltip class="has-tip" title="old dame - a man's wife.">old dame</span>.  Selfies are good, too. 

          
        %center
          .categories= link_to "Deek a Vineyard", vineyards_path, html_options = { class: "button round"}
        .show-for-small
          %hr

      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Purveyors & Tastemakers
        .oldstandardtt
          %p Running a tasting room? Sommelifying at some fancy <span data-tooltip class="has-tip" title="Bucket of Blood - nickname of a Boonville bar known for its brawls.">bucket of blood</span>?  Set up a showcase of <span data-tooltip class="has-tip" title="wine: Mr. Frati was a local vineyardist.">fratis</span>.  Organize your showcase by varietal, color, vintage, geography, or value.  Every showcase you set up cements direct relationships between brightlighters and your winemaker and vineyardist friends. Be a <span data-tooltip class="has-tip" data-width="210" title="a story teller: Allen Cooper, an innkeeper, who was a bear hunter and a story teller.">bearman</span> or a <span data-tooltip class="has-tip" data-width="210" title="Jenny Beck - a tattletale; a stool pigeon: Jenny Beck was a local gossiper and told many tall-tales.">jenny beck</span>, my amigo.
        .show-for-medium-up
          = image_tag("glass_and_cork.jpg", height: '100')
        %br
        %br
        %center
          .categories= link_to "Deek some Wines", showcases_path, html_options = { class: "button round"}
        .show-for-small
          %hr
      .large-3.medium-6.small-12.columns
        %h4.categories.text-center.subheader Artists & Critics
        .show-for-medium-up
          = image_tag("slide-5.jpg")
        %br
        %br
        .oldstandardtt
          %p Don't be a <span data-tooltip class="has-tip" title="a person who is ignorant or behind the times.">back dated chuck</span>.  Whether you're an <span data-tooltip class="has-tip" data-width="210" title="oshtook - a person with one eye (Pomo / Native American word).">oshtook</span>, a <span data-tooltip class="has-tip" title="straight neck - a person of German descent.">straight neck</span>, a <span data-tooltip class="has-tip" data-width="210" title="Madge - a prostitute: Madge was a brothel madame in Ukiah.">madge</span>, a <span data-tooltip class="has-tip" data-width="210" title="mink - an expensively dressed girl or woman; a wearer of fur.">mink</span>, an <span data-tooltip class="has-tip" data-width="210" title="applehead - a young girl; girlfriend or wife.">applehead</span>, an <span data-tooltip class="has-tip" data-width="210" title="Abaloneyite or Abber - a resident of Albion on the seacoast where abalone abounded.">abaloneyite</span>, a <span data-tooltip class="has-tip" data-width="210" title="keishbook - an Indian word, meaning a pregnant woman.">keishbook</span>, a <span data-tooltip class="has-tip" title="skype - a preacher. (From &quot; Sky Pilot.&quot;)")">skype</span>, an <span data-tooltip class="has-tip" data-width="210" title="Ite - an Italian">ite</span>, a <span data-tooltip class="has-tip" data-width="210" title="shoveltooth - a medical doctor (after a local doctor who had protruding front teeth).">shoveltooth</span>, a <span data-tooltip class="has-tip" data-width="210" title="borch - a person of Chinese descent: a blend or possibly a euphemism for boar Chinese.">borch</span>, a <span data-tooltip class="has-tip" data-width="210" title="booker, or Booker T - A person of African American descent: from the well known Booker T. Washington">booker t</span>, a <span data-tooltip class="has-tip" data-width="210" title="buck-inj - a person of Native Indian descent: a blend of buck-Indian.">buck inj</span>, a honkie or a cracker, Bloocher is the best way to learn about <span data-tooltip class="has-tip" title="wine: Mr. Frati was a local vineyardist.">fratis</span> and teach others what you know. And it's the best way to <span data-tooltip="right" class="has-tip" title="to prattle on, to talk aimlessly.">blooch</span> about them, so long as you take care to act like <span data-tooltip class="has-tip" title="fair and right a person - one who would give or lend money.">fair and right a person</span>.
        %center
          .categories= button_to "Blooch about a Wine", about_path, html_options = { class: "button round"}
      %br
      .small-12.columns
        .text-center
          %hr
          .oldstandardtt
            %p
              %em No tax collectors, <span data-tooltip class="has-tip" title="a degenerate person">deegers</span>, <span data-tooltip class="has-tip" title="crazeek - crazy.">crazeeks</span>, <span data-tooltip class="has-tip" title="cocked darley - a man with a gun.">cocked darleys</span>, <span data-tooltip class="has-tip" title="high heeler - an arresting officer.">high heelers</span> or other <span data-tooltip class="has-tip" title="eesole - an undesirable or questionable character: this is considered a disguised pronunciation or euphemism.">eesoles</span>.  Violators will be <span data-tooltip class="has-tip" title="blue-birded - to be bucked off a horse: One of the boys got bucked off a horse and afterwards said, &quot;I got thrown so high that a blue-bird could have built a nest on my ass.&quot;">blue birded</span>.