= simple_form_for(@showcase) do |f|
  = f.error_notification

  .form-inputs
    = f.input :showcaseable_id
    = f.input :showcaseable_type
    = f.input :version
    = f.input :name
    = f.input :description
    = f.input :published

  .form-actions
    = f.button :submit
