



%p#notice= notice

%p
  %b Name:
  = @showcase.name
%p
  %b Description:
  = @showcase.description
%p
  %b Published:
  = @showcase.published

= link_to 'Edit', edit_showcase_path(@showcase)
\|
= link_to 'Back', showcases_path
