.span8
  %h3= @showcase.name
  = @showcase.description
  .badge= @wines.count
  Wines
  %table.table.table-condensed
    %thead
      %tr
        %th Name
        %th Winery
    - @wines.each do |wine|
      %tr
        %td
          .badge= wine.reviews.count
          = link_to wine.name, wine_path(wine)
        %td
          .badge= wine.winery.wines.count
          = link_to wine.winery.name, winery_path(wine.winery)
        %td
          - if can? :update, ShowcasesWine
            = link_to 'delete', showcase_remove_wine_path(showcase_id: @showcase.id, wine_id: wine.id), method: :delete