.span8
  %h3= @showcase.name
  = @showcase.description
  .badge= @wines.count
  Wines
  %table.table.table-condensed
    %thead
      %tr
        %th Name
        %th Winery
    - @showcases_wines.each do |showcases_wine|
      %tr
        %td
          .badge= showcases_wine.wine.reviews.count
          = link_to showcases_wine.wine.name, wine_path(showcases_wine.wine)
        %td
          .badge= showcases_wine.wine.winery.wines.count
          = link_to showcases_wine.wine.winery.name, winery_path(showcases_wine.wine.winery)
        %td
          - if can? :destroy, ShowcasesWine
            = button_to 'remove from list', showcases_wine_path(showcases_wine), class: "btn", method: :delete

