.row
  .span3.offset1
    .well
      %legend
        Sign in
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
        = f.input :email, :autofocus => true
        = f.input :password
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        = f.button :submit, "Sign in", :class => 'btn-primary'

  .span3.offset1
    %legend
      Sign up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      = f.error_notification
      = display_base_errors resource
      = f.input :email, :required => true
      = f.button :submit, 'Sign up', :class => 'btn-primary'
    = render "devise/shared/forgot_or_confirm_links"
  .span2
