.row
  .span3.offset1#signin
    .well
      = simple_form_for([@producer], html: { class: "form-horizontal" } ) do |f|
        = f.error_notification
        = f.input :name, label: "Producer name"
        = f.simple_fields_for :image do |image_form|
          = image_form.file_field :image, html: { icon: :search } 
          

        = f.button :submit
