%h3 Producers
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Name
    - @producers.each do |producer|
      %tr
        %td= link_to producer.name, producer
        %td= link_to 'Show', producer
        - if can? :create, Producer
          %td= link_to 'Edit', edit_producer_path(producer)
        - if can? :destroy, Producer
          %td= link_to 'Destroy', producer, method: :delete, data: { confirm: 'Are you sure?' }

  %br
  - if can? :create, Producer

    = link_to 'New Producer', new_producer_path
