.row
  .span3.offset1
    %h1 Listing producers

      %table
        %tr
          %th Name

      - @producers.each do |producer|
        %tr
          %td= producer.name
          %td= link_to 'Show', producer
          - if current_user && current_user.has_role?(:admin)

            %td= link_to 'Edit', edit_producer_path(producer)
            %td= link_to 'Destroy', producer, method: :delete, data: { confirm: 'Are you sure?' }

    %br
    - if current_user && current_user.has_role?(:admin)

      = link_to 'New Producer', new_producer_path
