.row
  .span6
    %p#notice= notice
    %p
      %b Producer name:
      = @producer.name

    = link_to 'Edit', edit_producer_path(@producer)
    \|
    = link_to 'Back', producers_path
  .span6
    - if @wineries.empty?
      %p 
      No wineries
    = link_to "winery or label", new_producer_winery_path(@producer)
    - @wineries.each do |winery|
      %p
        = link_to winery.name, winery_path(winery)  
    - if @vineyards.empty?
      %p 
      No vineyards
    = link_to "add vineyard", new_producer_vineyard_path(@producer)
    - @vineyards.each do |vineyard|
      %p
        = link_to vineyard.name, vineyard_path(vineyard)  
