.span12
  .row
    .span6
      %p#notice= notice
      %p
        %b Producer name:
        = @producer.name

      = link_to 'Edit', edit_producer_path(@producer)
      \|
      = link_to 'Back', producers_path
    .span6
      upload photos
      .badge= @producer.images.count
      = simple_form_for :image, { url: :images } do |f|
        = f.error_notification
        .form-inputs
          = f.hidden_field :imageable_type, value: params[:controller].classify
          = f.hidden_field :imageable_id, value: params[:id]
          = f.file_field :image
          = f.label :remote_image_url, "or image URL"
          = f.text_field :remote_image_url
        .form-actions
          = f.button :submit, "add photo"
  .row
    .span6
      - if @wineries.empty?
        %p 
        No wineries
      = link_to "winery or label", new_producer_winery_path(@producer)
      - @wineries.each do |winery|
        %p
          = link_to winery.name, winery_path(winery)  
      - if @vineyards.empty?
        %p 
        No vineyards
      = link_to "add vineyard", new_producer_vineyard_path(@producer)
      - @vineyards.each do |vineyard|
        %p
          = link_to vineyard.name, vineyard_path(vineyard)  
.row
  = render partial: "producer_carousel", locals: { resource: @producer }
 
