= form_for [@producer, @winery], html: { "data-abide" => '' } do |f|
  .row
    .small-3.columns
      .right
        = f.label :producer_name
        .right
          %small required
    .small-9.columns
      = f.text_field :producer_name, placeholder: "Full legal name of your Winery, please, in case people search for it.", required: '', data: {autocomplete_source: Producer.order(:name).map(&:name)}
      = content_tag(:small, "We need this.", class: "error")
  .row
    .small-3.columns
      .right
        = f.label :winery_name
        .right
          %small required
    .small-9.columns
      = f.text_field :name, placeholder: "What your winery is called on the front of each bottle.  We need this because people don't always search by your full legal name.", required: '', data: { autocomplete_source: Winery.order(:name).map(&:name)}
      = content_tag(:small, "We need this.", class: "error")
  .row
    .small-3.columns
      .right.inline
        = f.label :mission
    .small-9.columns
      = f.text_area :mission, placeholder: "examples: \"Produce fine pinot noir\" ; \"Put the gewurz in gewurztraminer\" ; Or leave it blank and let your wines do your talking."
  .row
    .small-3.columns
      .right.inline
        = f.label :history
    .small-9.columns
      blah
      = f.text_area :history, rows: 5, placeholder: "People who love wine often love stories.  The best stories tend to be short and entertaining and what they lack in authenticity they make up in versimilitude."

  .row
    .small-offset-3.small-2.columns
      = link_to "cancel", back_to, class: "button disabled expand"
    .small-5.columns
      = f.submit button_label, class: "button expand"