- @wines.each do |wine|
  .accordion-group
    .accordion-heading
      .row
        .span8
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapse#{wine.id}"}
            %h4
              .badge= wine.rating
              = "#{wine.vintage} #{wine.name}"
        
    .accordion-body.collapse.in{id: "collapse#{wine.id}" }
      .accordion-inner
        .row
          .span12
            .span5
              %h4 Winemaker notes | #{link_to "details", wine_path(wine.id)}
              = wine.winemaker_notes
              %br

              .row
                %h4.span1#blooch Blooches

              - wine.reviews.each do |review|
                %p 
                  .badge= review.rating
                  = review.content
                  - unless review.reviewer.name.nil?
                    = link_to review.reviewer.name, user_path(review.reviewer.name)
                  - else
                    anonymous
            .span3.offset3
              = render partial: 'winery-wine-notes-modal', object: wine, as: 'wine'
            / / .span3
            /   = render partial: 'winery-wine-blooch-modal', object: wine, as: 'wine'
