= bootstrap_button "Blooch about this wine", "#wine#{wine.id}", :html_options => {:"data-toggle" => "modal"}
= bootstrap_modal(dom_id: "wine#{wine.id}", fade: true, header_title: "#{@winery.wines.find_by_id(wine.id).name.titleize}") do |modal|
  - modal.body do |c|
    -c.content_tag :div do
      %p= @winery.name.titleize
      .modal-body.form-horizontal
        = simple_form_for @review do |f|
          = f.error_notification
          = f.input :content, as: :text, label: "notes about this wine", input_html: { rows: 7 }
          = f.input :rating, collection: 70..100, label: "points"
      %div.a_class="another_text"
      %p= @winery.wines.find_by_id(wine.id).name.titleize
  - modal.footer do |f|
    -f.bootstrap_button "Save", "url", :type => 'btn-primary'
    -f.bootstrap_button "Cancel", "url"