= form_tag wineries_path, method: :get do
  %p
    = text_field_tag :query, params[:query]
    = submit_tag "Search", name: nil

.row
  .small-12.columns
    %h3 Wineries

    %table
      %thead
        %tr
          %th Name
          %th

      %tbody
        - @wineries.each do |winery|
          %tr
            %td
              .label= winery.wines.count
              = link_to winery.name, winery_path(winery)
            %td= link_to 'Show', winery
            - if can? :update, Winery
              %td= link_to 'Edit', edit_winery_path(winery)
            - if can? :destroy, Winery
              %td= link_to 'Destroy', winery, method: :delete, data: { confirm: 'Are you sure?' }


  .paginate= paginate @wineries
  %br
  - if can? :create, @producer
    = link_to 'New Winery', new_producer_path

