%p#notice= notice

%p
  %b Name:
  = @winery.name
%p
  %b Producer:
  = @winery.producer_id
%p
  %b Public email:
  = @winery.producer.public_email
%p
  %b Phone:
  = @winery.producer.phone
%p
  %b Address 1:
  = @winery.producer.address_1
%p
  %b Address 2:
  = @winery.producer.address_2
%p
  %b City:
  = @winery.producer.city
%p
  %b State:
  = @winery.producer.state
%p
  %b Zip:
  = @winery.producer.zip
%p
  %b Web address:
  = link_to @winery.producer.web_address, url_for(@winery.producer.web_address) 
%p
  %b Subdomain:
  = @winery.producer.subdomain

= link_to 'Edit', edit_winery_path(@winery)
\|
= link_to 'Back', wineries_path

- @wines.each do |wine|
  = wine.name
