%p#notice= notice

%p
  %h1= @winery.name
  .badge 
    = @winery.winery_rating.to_i
%p
  %b Producer:
  = @winery.producer.name
%p
  %b Public email:
  = @winery.producer.public_email
%p
  %b Phone:
  = @winery.producer.phone
%p
  %b Address 1:
  = @winery.producer.address_1
%p
  %b Address 2:
  = @winery.producer.address_2
%p
  %b City:
  = @winery.producer.city
%p
  %b State:
  = @winery.producer.state
%p
  %b Zip:
  = @winery.producer.zip
%p
  %b Web address:
  = link_to @winery.producer.web_address, url_for(@winery.producer.web_address) 
%p
  %b Subdomain:
  = @winery.producer.subdomain

= link_to 'Edit', edit_winery_path(@winery)
\|
= link_to 'Back', wineries_path

%p
%h1 Wines

- @wines.each do |wine|
  %p
    = link_to "#{wine.vintage} #{wine.name}", wine_path(wine.id)

%p
%h1 Reviews

- @reviews.each do |review|
  %p 
    .badge= review.rating
    = review.content
    = link_to review.reviewer.name, user_path(review.reviewer.name)
    

