
/ vintages
/ join mailing list
/ buy
= render partial: 'image_uploader', locals: { imageable: @winery }
.row
  / %hr
  /   .row
  /   - @winery.images.each do |image|
  /     .th= image_tag image.image.tiny_thumb.url

.row
  .karge-12.columns
    .row
      .text-center
        %h1= @winery.name
        - if can? :update, "Winery"
          = link_to 'Edit', edit_winery_path(@winery)
    .row
      .large-4.small-6.columns
        .text-center
          %h3 Mission
        = @winery.mission
        %hr
        .text-center
          %h4 History
        = @winery.history
        %hr
        %h3 People
        - @winery.positions.each do |position|
          %p
            = position.title.titleize + ":"
            = link_to position.user.name, user_path(position.user)


            - if position.tenure_end > Date.today
              since
              = position.tenure_start.year 
            - else
              from 
              = position.tenure_start.year
              until
              = position.tenure_end.year
      .large-4.small-6.columns
        %h3 Showcases
        / = @winery.showcases.count
        - if can? :create, Showcase
          .row
            .large-1.column= link_to "create a showcase", new_showcase_path
        %href
        - @winery.showcases.each do |showcase|
          = link_to showcase.name, showcase
        %hr
      .large-4.small-6.columns
        %h3 Verticals
          
        %hr
        %h3 Library
        %hr
        - @winery.wines.each do |wine|
          %p
            = link_to "#{wine.vintage} #{wine.name}", wine
            %hr
        .row
          .large-1.column
            %img{src: "./Foundation Template   Marketing_files/50x50&text=[img]"}/
          .large-9.columns
            %h5
              %a{href: "./Foundation Template   Marketing_files/Foundation Template   Marketing.html"} 2012
            %h6.subheader.show-for-small pinot noirs
        %hr/
        .hide-for-small
          .row
            .large-1.column
              %img{src: "./Foundation Template   Marketing_files/50x50&text=[img]"}/
            .large-9.columns
              %h5.subheader
                %a{href: "./Foundation Template   Marketing_files/Foundation Template   Marketing.html"} 2011
          %hr/
          .row
            .large-1.column
              %img{src: "./Foundation Template   Marketing_files/50x50&text=[img]"}/
            .large-9.columns
              %h5.subheader
                %a{href: "./Foundation Template   Marketing_files/Foundation Template   Marketing.html"} 2010
          %hr/
          .row
            .large-1.column
              %img{src: "./Foundation Template   Marketing_files/50x50&text=[img]"}/
            .large-9.columns
              %h5.subheader
                %a{href: "./Foundation Template   Marketing_files/Foundation Template   Marketing.html"} 2009




      .large-4.small-6.columns

    .row

/ End Top Bar
.row
  .small-12.columns
    .row
      .large-12.columns.show-for-small
        = image_tag("foundation/1200x700&text=Mobile Header")
    %br/
    


/ # = image_tag(@winery.images.first.image.thumb.url)
/ %dl
/   %dt producer
/   %dd= link_to @winery.producer.name, producer_path(@winery.producer)
/ %p
/   %b Public email:
/   = @winery.addresses.first.public_email unless @winery.addresses.empty?
/ %p
/   %b Phone:
/   / = @winery.producer.phone
/ %p
/   %b Address 1:
/   / = @winery.producer.address_1
/ %p
/   %b Address 2:
/   / = @winery.producer.address_2
/ %p
/   %b City:
/   / = @winery.producer.city
/ %p
/   %b State:
/   / = @winery.producer.state
/ %p
/   %b Zip:
/   / = @winery.producer.zip
/ %p
/   %b Web address:
/   / = link_to @winery.producer.web_address, url_for(@winery.producer.web_address) 
/ %p
/   %b Subdomain:
/   / = @winery.producer.subdomain


/   .span6
/     #myCanvasContainer
/       %canvas#myCanvas{:height => "400", :width => "500"}
/     #tags
/       %ul
/         %li
/           %a{:href => "http://www.google.com", :target => "_blank"} Google
/         %li
/           %a{"data-weight" => "22", :href => "http://www.merciboq.com", :style => "font-size: 4.58ex"} Pinot noir 

/         %li= link_to @winery.name
/         - @winery.wines.each do |wine|
/           = link_to wine.name
/         - @winery.winery_tags.each do |tag|
/           = link_to tag[0], html_options: { "data-weight" => tag[1] }
/ .row
/   .span12
/     %h3
/       = "#{@winery_wines.count} Wines" 
/       - if current_user && current_user.has_role?(:admin)
/         = link_to "Add a new wine", new_winery_wine_path(@winery)
/ .row
/   .span12
/     #accordion.accordion
/       = render 'winery_wines'
/     .paginate= paginate @wines

