/ = render partial: 'carousel', locals: { imageable: @winery }

= render partial: 'image_uploader', locals: { imageable: @winery }

.row
  .span6
    %h1= @winery.name
    %dl
      %dt producer
      %dd= link_to @winery.producer.name, producer_path(@winery.producer)
    %p
      %b Public email:
      = @winery.addresses.first.public_email unless @winery.addresses.empty?
    %p
      %b Phone:
      / = @winery.producer.phone
    %p
      %b Address 1:
      / = @winery.producer.address_1
    %p
      %b Address 2:
      / = @winery.producer.address_2
    %p
      %b City:
      / = @winery.producer.city
    %p
      %b State:
      / = @winery.producer.state
    %p
      %b Zip:
      / = @winery.producer.zip
    %p
      %b Web address:
      / = link_to @winery.producer.web_address, url_for(@winery.producer.web_address) 
    %p
      %b Subdomain:
      / = @winery.producer.subdomain

    = link_to 'Edit', edit_winery_path(@winery)
    \|
    = link_to 'Back', wineries_path

  .span6
    #myCanvasContainer
      %canvas#myCanvas{:height => "400", :width => "500"}
    #tags
      %ul
        %li
          %a{:href => "http://www.google.com", :target => "_blank"} Google
        %li
          %a{"data-weight" => "22", :href => "http://www.merciboq.com", :style => "font-size: 4.58ex"} Pinot noir 

        %li= link_to @winery.name
        - @winery.wines.each do |wine|
          = link_to wine.name
        - @winery.winery_tags.each do |tag|
          = link_to tag[0], html_options: { "data-weight" => tag[1] }
.row
  .span12
    %h3
      = "#{@winery_wines.count} Wines" 
      - if current_user && current_user.has_role?(:admin)
        = link_to "Add a new wine", new_winery_wine_path(@winery)
.row
  .span12
    #accordion.accordion
      = render 'winery_wines'
    .paginate= paginate @wines

