= simple_form_for(@appellation) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :type
    = f.input :description
    = f.input :map

  .form-actions
    = f.button :submit
