%h3 Appellations

.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Name

    - @appellations.each do |appellation|
      %tr
        %td= appellation.name
        %td= appellation.description
        %td= link_to 'Show', appellation
        %td= link_to 'Edit', edit_appellation_path(appellation)
        %td= link_to 'Destroy', appellation, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Appellation', new_appellation_path
