= simple_form_for :image, { url: :images } do |f|
  = f.error_notification
  .form-inputs
    = f.hidden_field :imageable_type, value: params[:controller].classify
    / # = f.hidden_field :imageable_id, value: imageable_id 
    = f.file_field :image
    = f.label :remote_image_url, "or image URL"
    = f.text_field :remote_image_url
  .form-actions
    = f.button :submit, "add photo"