= nav_link_to "blooches", reviews_path
= nav_link_to "showcases", showcases_path
= nav_link_to "wineries", wineries_path
= nav_link_to "producers", producers_path
= nav_link_to "wines", wines_path
= nav_link_to "vineyards", vineyards_path