= simple_form_for(@review) do |f|
  = f.error_notification

  .form-inputs
    = f.input :rating, collection: 70..100, prompt: "if you would rate the wine below 70, don't rate it."
    = f.input :content
    = f.input :wine, collection: @wines

  .form-actions
    = f.button :submit
