.span12
  %h3 Blooches
  %table.table.table-condensed
    %thead
      %tr
        %th Wine name
        %th Blooch
        %th Bloocher

      - @reviews.each do |review|
        %tr
          %td= link_to "#{review.wine.vintage} #{review.wine.name.titleize}", wine_path(review.wine.id) 
          %td= review.content
          %td= link_to review.reviewer.name, profile_path(review.reviewer.id)
          - if can? :update, Review

            %td= link_to 'Edit', edit_review_path(review)
            %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }

  .pagination
    = paginate @reviews

  %br

  = link_to 'New Review', new_review_path
