/ %form
/   .row
/     .small-8
/       .row
/         .small-3.columns
/           %label.right{for: "right-label"} Label
/         .small-9.columns
/           %input#right-label{placeholder: "Inline Text Input", type: "text"}/

/ %form
/   .row
/     .small-8
/       .row
/         .small-3.columns
/           %label.right.inline{for: "right-label"} Label
/         .small-9.columns
/           %input#right-label{placeholder: "Inline Text Input", type: "text"}/

= simple_form_for([@winery, @wine]) do |f|
  .row
    = f.error_notification
  .row
    .small-2.columns
      %label.right.inline{for: "right-label"}
        = f.label :name
    .small-10.columns
      = f.text_field :name
  .row
    .small-2.columns
      %label.right.inline= f.label :vintage
    .small-2.columns
      = f.text_field :vintage 
    .small-2.columns
      %label.right.inline= f.label :alcohol
    .small-2.columns
      = f.text_field :alcohol
    .small-2.columns
      %label.right.inline= f.label :ph, "pH"
    .small-2.columns
      = f.text_field :ph
  .row
    .small-2.columns
      %label.right.inline= f.label :bottled_on
    .small-4.columns
      = f.date_field :bottled_on
    .small-2.columns
      %label.right.inline= f.label :released_on
    .small-4.columns
      = f.date_field :released_on
  .row
    .small-10.small-offset-2.columns
      = f.button :submit, class: "button expand"
