= form_for [@winery, @wine], html: {"data-abide" => ''} do |f|
  .row
    .small-2.columns
      .right.inline
        = f.label :name
        %small required
    .small-10.columns
      = f.text_field :name, placeholder: "The wine's name or title", :required => '', type: "text", html_options: { pattern: "alpha_numeric" }
      = content_tag(:small, "We need this.", class: "error")
  .row
    .small-2.columns
      = f.label :vintage, class: "right inline"
    .small-3.columns
      .row.collapse
        .small-9.columns
          = f.text_field :vintage, :required => '' 
          = content_tag(:small, "We need this.", class: "error")
        .small-3.columns
          %span.postfix
            ce
    .small-1.columns
      = f.label :ph, "pH", class: "right inline"
    .small-2.columns
      .row.collapse
        .small-9.columns
          = f.text_field :ph
        .small-3.columns
          %span.postfix
            \%
    .small-2.columns
      = f.label :alcohol, class: "right inline"
    .small-2.columns
      .row.collapse
        .small-9.columns
          = f.text_field :alcohol
        .small-3.columns
          %span.postfix
            \%  
  .row
    .small-2.columns
      .right.inline
        = f.label :bottled_on, class: "right inline"
    .small-4.columns
      = f.date_field :bottled_on
    .small-2.columns
      .inline= f.label :released_on, class: "right inline"
    .small-4.columns
      = f.date_field :released_on
  .row
    .small-offset-2.small-2.columns
      = link_to "cancel", back_to, class: "button disabled expand"
    .small-6.columns
      = f.submit button_label, class: "button expand"