%h3 Wines

.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Name
    - @wines.each do |wine|
      %tr
        %td= link_to wine.name.titleize, wine_path(wine.id)
        %td= wine.vintage
        %td= link_to wine.winery.name, winery_path(wine.winery.id)
        %td= link_to 'Show', wine
        - if can? :update, Wine
          %td= link_to 'Edit', edit_wine_path(wine)
        - if can? :destroy, Wine
          %td= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' }
    
  .paginate= paginate @wines

  %br

  - if can? :create, Wine

    = link_to 'New Wine', new_wine_path
