.row
  .span12
    %h1 Bloochable wines

    %table
      %tr
        %th Wine Name
        %th Vintage
        %th Winery Name
        %th Cases produced
        %th 
        %th
        %th

      - @wines.each do |wine|
        %tr
          %td= link_to wine.name.titleize, wine_path(wine.id)
          %td= wine.vintage
          %td= link_to wine.winery.name, winery_path(wine.winery.id)
          %td= wine.cases_produced
          %td= link_to 'Show', wine
          %td= link_to 'Edit', edit_wine_path(wine)
          %td= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Wine', new_wine_path
