%h2
  .badge= @wine.rating
  = @wine.vintage
  = @wine.name.titleize
%h4
  .badge= @wine.winery.winery_rating
  = link_to @wine.winery.name, winery_path(@wine.winery.id)
%dl.dl-horizontal
  %dt Winery:
  %dd
  %dt Vintage:
  %dd= @wine.vintage
%p
  %b Name:
  = @wine.name
%p
  %b Cases produced:
  = @wine.cases_produced
%p 
  %b Winemakers:
- @winemakers.each do |winemaker|
  %p
    = link_to winemaker.name, user_path(winemaker.id)
  

%p
  %b Winemaker notes:
  = @wine.winemaker_notes

= link_to 'Edit', edit_wine_path(@wine)
\|
= link_to 'Back', wines_path

%h1 Reviews

%table
  - @reviews.each do |review|
    %tr 
      %td
        .badge= review.rating
        = link_to review.reviewer.name, user_path(review.reviewer.id)
        = review.content

