%p#notice= notice

%p
  %b Winery:
  = link_to @wine.winery.name, winery_path(@wine.winery.id)
%p
  %b Vintage:
  = @wine.vintage
%p
  %b Name:
  = @wine.name
%p
  %b Cases produced:
  = @wine.cases_produced
%p
  %b Winemaker notes:
  = @wine.winemaker_notes

= link_to 'Edit', edit_wine_path(@wine)
\|
= link_to 'Back', wines_path

%h1 Reviews

%table
  - @reviews.each do |review|
    %tr 
      %td
        = link_to review.reviewer.name, user_path(review.reviewer.id)
        = review.content
