.row
  .span6
    %h4
      .badge= @wine.winery.winery_rating
      = link_to @wine.winery.name, winery_path(@wine.winery.id)
    %h2
      .badge= @wine.rating
      = @wine.vintage
      = @wine.name.titleize
      - if current_user && current_user.has_role?(:admin)
        = link_to "edit", edit_wine_path
    %dl.dl-horizontal
      %dt cases produced
      %dd= @wine.cases_produced
      %dt Vintage
      %dd= @wine.vintage
      %dt= @wine.winemakers.count > 1 ? "Winemakers" : "Winemaker" 
      %dd
        %ul.inline
          - @wine.winemakers.each do |winemaker|
            %li= link_to winemaker.name, user_path(winemaker.id)
  .span6  
    #myCanvasContainer
      %canvas#myCanvas{:height => "400", :width => "500"}
    #tags
      %ul
        %li
          %a{:href => "http://www.google.com", :target => "_blank"} Google
        %li
          %a{"data-weight" => "22", :href => "http://www.merciboq.com", :style => "font-size: 4.58ex"} Pinot noir 

        %li= link_to @wine.name


  %dt Winemaker notes:
  %dd= @wine.winemaker_notes
  / %dt= @vineyards.count > 1 ? "Vineyards" : "Vineyard"
  %dt fruit
  %dd#fl-accordion.accordion
    - @wine_fruit_lots.each do |fl|
      .accordion-group
        .accordion-heading 
          %a.accordion-toggle{"data-parent" => "fl-accordion", "data-toggle" => "collapse", href: "#collapse#{fl.id}"}
            = number_to_percentage(fl.percent_of_wine, precision: 1)
            - if fl.fruit_lot.vineyard.vineyard_parent_id.nil?
              = fl.fruit_lot.vineyard.name
            - else 
              = fl.fruit_lot.vineyard.vineyard_parent.name
              | block:
              = fl.fruit_lot.vineyard.name

        .accordion-body.collapse.in{ id: "collapse#{fl.id}" }
          .accordion-inner
            %ul.inline
              %dl
                %dt varietal:
                %dd= link_to fl.fruit_lot.vineyard.varietal, vineyard_path(fl.fruit_lot.vineyard.id)
                %dt clone:
                %dd= link_to fl.fruit_lot.vineyard.clone, vineyard_path(fl.fruit_lot.vineyard.id)
                %dt rootstock:
                %dd= link_to fl.fruit_lot.vineyard.rootstock, vineyard_path(fl.fruit_lot.vineyard.id)
                %dt planted:
                %dd= link_to fl.fruit_lot.vineyard.planted_on, vineyard_path(fl.fruit_lot.vineyard.id)

- if @wine.winemakers.include? current_user
  = link_to 'Edit', edit_wine_path(@wine)                                        
.row
  .span6
    %a.btn.btn-simple{ "data-toggle" => "modal", href: "#reviewModal#{@wine.id}" }
      %i.icon-th-list
      blooch about this wine
  .span6
    %h1 Reviews
%table
  - @reviews.each do |review|
    %tr 
      %td
        .badge= review.rating
        = link_to review.reviewer.name, user_path(review.reviewer.id)
        = review.content
= render partial: 'review_modal', object: @wine, as: 'wine'
