%h4
  .badge= @wine.winery.winery_rating
  = link_to @wine.winery.name, winery_path(@wine.winery.id)
%h2
  .badge= @wine.rating
  = @wine.vintage
  = @wine.name.titleize
%dl.dl-horizontal
  %dt cases produced
  %dd= @wine.cases_produced
  %dt Vintage
  %dd= @wine.vintage
  %dt= @wine.winemakers.count > 1 ? "Winemakers" : "Winemaker" 
  - @winemakers.each do |winemaker|
    %dd= link_to winemaker.name, user_path(winemaker.id)
  %dt Winemaker notes:
  %dd= @wine.winemaker_notes
  / %dt= @vineyards.count > 1 ? "Vineyards" : "Vineyard"
  %dt Fruit
  - @wine.fruit_lots.each do |fl|
    %dd= link_to("#{fl.varietal.titleize} #{fl.vineyard.name}", fl.vineyard)         


= link_to 'Edit', edit_wine_path(@wine)                                        
\|
= link_to 'Back', wines_path

%h1 Reviews

%table
  - @reviews.each do |review|
    %tr 
      %td
        .badge= review.rating
        = link_to review.reviewer.name, user_path(review.reviewer.id)
        = review.content

