!!!
%html{:lang => "en"}
  %head
    = render 'head'
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'navigation'

    .container
      = yield            
    / %header.navbar.navbar-fixed-top
    /   %nav.navbar-inner
    /     .container
    /       = render 'layouts/navigation'
    / #main{:role => "main"}
    /   .container
    /     .content
    /       .row
    /         .span12
    /           = render 'layouts/messages'
    /           = yield
    /       %footer
= debug(params) if Rails.env.development?
