!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Bloocher"
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Tracking wines and vineyards since 2013", :name => "description"}/
    %meta{:content => "Frederick D. Schoeneman (Fred.schoeneman@bloocher.com)", :name => "author"}/    
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    /[if IE 7] <link rel="stylesheet" href="/css/font-awesome-ie7.css">
    / Le favicon
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'

    .container
      = yield            
    / %header.navbar.navbar-fixed-top
    /   %nav.navbar-inner
    /     .container
    /       = render 'layouts/navigation'
    / #main{:role => "main"}
    /   .container
    /     .content
    /       .row
    /         .span12
    /           = render 'layouts/messages'
    /           = yield
    /       %footer
