%body{:class => "#{controller_name} #{action_name}"}
  = render 'head'
  = render 'navigation'
  = render 'messages'
  .row= yield
  = render 'footer'
  = javascript_include_tag "application"


  - if Rails.env.development?
    = debug(params) 