%body{:class => "#{controller_name} #{action_name}"}
  = render 'head'
  - unless controller_name == "wineries" && controller.action_name == "show"
    = render 'navigation'
  = render 'messages'
  = yield
  = render 'footer'
  = javascript_include_tag "application"
  /# = javascript_include_tag "modernizr"



  - if Rails.env.development?
    = debug(params) 