!!!
%html{:lang => "en"}
  %head
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "application/#{params[:controller]}"

  %body
    .container
      = render 'navigation'
      = render 'messages'
    .container
      = yield
    = render 'footer'
    = javascript_include_tag "bloocher"

    